// Connection google fonts *****
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
// Color *****
$primary:#415167;
$accent:#C7A17A;
$accent2:#F9F5E8;
$dark:#151D28;
$light:#EDF0F5;


// Style *****
